.marketH1 {
  font-size: 3rem;
  margin: 5rem 0;
  text-align: center;
  font-weight: 700;
  color: orange;
}
.marketNews {
  max-width: 60rem;
  margin: 3rem auto;
  font-size: 90%;
  padding: 0 2%;
}

.marketNewH2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

@media screen and (max-width: 400px) {
  .marketH1 {
    font-size: 2.5rem;
  }
}
